WEB_DOMAIN=5stack.gg
WS_DOMAIN=ws.5stack.gg
API_DOMAIN=api.5stack.gg
DEMOS_DOMAIN=demos.5stack.gg

HASURA_GRAPHQL_ENDPOINT=http://hasura:8080

AUTH_COOKIE_DOMAIN=.5stack.gg

# https://discordlookup.com/permissions-calculator/309237935168
DISCORD_PERMISSION_INT=309237935168

SERVER_IMAGE=ghcr.io/5stackgg/game-server:latest

# after installing tailscale get the ip 
TAILSCALE_NODE_IP=

# https://login.tailscale.com/admin/dns
TAILSCALE_NET_NAME=

# create tailscale oauth client
# https://login.tailscale.com/admin/settings/oauth
# give the `devices` scope
TAILSCALE_CLIENT_ID=

#S3_PORT=443
#S3_USE_SSL=true
#S3_ENDPOINT=s3.us-east-005.backblazeb2.com


MAIL_FROM=hello@5stack.gg