HASURA_GRAPHQL_CONFIGURED_HEADER_PRECEDENCE=true
HASURA_GRAPHQL_DEV_MODE=true
HASURA_GRAPHQL_ENABLE_CONSOLE=true
HASURA_GRAPHQL_ENABLED_LOG_TYPES=startup, http-log, webhook-log, websocket-log, query-log
HASURA_GRAPHQL_STRINGIFY_NUMERIC_TYPES=true
HASURA_GRAPHQL_AUTH_HOOK=http://api:5585/hasura
HASURA_GRAPHQL_EVENT_HOOK=http://api:5585/hasura/events
HASURA_GRAPHQL_ACTIONS_HOOK=http://api:5585/hasura/actions
HASURA_GRAPHQL_LOG_LEVEL=warn
HASURA_GRAPHQL_ENABLE_TELEMETRY=false