RCON_PASSWORD=<base64 encoded rcon password>
SERVER_PASSWORD=<base64 encoded server password>


# these come from the 5stack server page
SERVER_ID=<base64 encoded server id>
SERVER_API_PASSWORD=<base64 encoded server api password>